<!DOCTYPE html>
<html>
  <head>
  <title><%= (yield(:title).empty? ? "Daylight" : yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i" rel="stylesheet">
  </head>

  <body class="font-sans">
    <%= yield %>
  </body>
</html>
